{% macro package_manager_param(name, conan_path, vcpkg_path) -%}
{%- if name == "conan" -%}
    --package-manager="conan" --conan="{{conan_path}}"
{%- elif name == "vcpkg" -%}
    --package-manager="vcpkg" --vcpkg="{{vcpkg_path}}"
{%- else -%}
    {{ jinja_exception("JINJA: Not expected package manager: ", name) }}
{%- endif -%}
{%- endmacro -%}

{% macro package_manager_param_list(name, conan_path, vcpkg_path) -%}
{%- if name == "conan" -%}
    '--package-manager', 'conan', "--conan", "{{conan_path}}"
{%- elif name == "vcpkg" -%}
    '--package-manager', 'vcpkg', "--vcpkg", "{{vcpkg_path}}"
{%- else -%}
    {{ jinja_exception( "JINJA: Not expected package manager: ", name) }}
{%- endif -%}
{%- endmacro -%}